<%- include("partials/header.ejs") %>
<div class="flex-container">
    <h1 class="flex-item-a">Bitcoin is an innovative payment network and a new kind of money.</h1>
    <a class="readMore flex-item-b btn btn-lg btn-warning" href="https://bitcoin.org/en/how-it-works" role="button">Learn More!</a>
</div>
<%- include("partials/footer.ejs") %>