<%- include("partials/header.ejs") %>
<h1>Compose</h1>
<!-- action is the route that you are going to
handle inside app.js -->
<form action="/pleasecompose" method="POST" class="container-1">
            <label for="title">Title:</label><br>
            <input type="text" name="title"><br>
            <label for="writing">Writing:</label><br>
            <textarea type="text" name="writing" rows="6"></textarea><br>
            <div>
                <button class="btn btn-primary btn-lg" type="submit">Publish</button>
            </div>
</form>
<%- include("partials/footer.ejs") %>