<%- include("partials/header.ejs") %>
<div class="contactContainer">
    <h1 class="text-center contactt contactContainer">Contact</h1>
    <h3 class="text-center contactContainer"><%= contactContent %></h3>
    <div class="redditButton contactContainer">
        <a class="readMore btn btn-lg btn-warning" href="https://www.reddit.com/r/Bitcoin/" role="button">Let's Go!</a>
    </div>
</div>
<%- include("partials/footer.ejs") %>