<%- include("partials/header.ejs") %>
<div class="homeContainer">
	<img src="images/btc-logo-small.png" alt="BTC" id="btc-logo-small">
	<div class="row">
		<div class="col-sm-6">
			<h1 id="btc-price-usd"></h1>
		</div>
		<div class="col-sm-6">
			<h1 id="btc-price-try"></h1>
		</div>
	</div>
</div>

<script>
// Create WebSocket connection.
// Using WebSocket api from MDN (mozilla)
const socket = new WebSocket("wss://stream.binance.com:9443/stream?streams=btctry@trade/btcusdc@trade");
var btcPriceElementTry = document.getElementById("btc-price-try");
var btcPriceElementUsdt = document.getElementById("btc-price-usd");
var lastPriceTry = null;
var lastPriceUsdt = null;
socket.addEventListener('message', function (event) {
	var jsonEvent = JSON.parse(event.data);
	// console.log('Message from server ', jsonEvent);
	if(jsonEvent.stream == "btctry@trade") {
		var jsonDataTry = jsonEvent.data;
		var btcPriceTryRaw = Math.round(jsonDataTry.p);
		var btcPriceTry = " ₺ " + Math.round(jsonDataTry.p);
		if(lastPriceTry > btcPriceTryRaw) {
			btcPriceElementTry.innerText = btcPriceTry;
			btcPriceElementTry.style.color = "red";
			lastPriceTry = btcPriceTryRaw;
		}
		else if(btcPriceTryRaw > lastPriceTry) {
			btcPriceElementTry.innerText = btcPriceTry;
			btcPriceElementTry.style.color = "green";
			lastPriceTry = btcPriceTryRaw;
		}
		else {
			btcPriceElementTry.innerText = btcPriceTry;
			btcPriceElementTry.style.color = "black";
			lastPriceTry = btcPriceTryRaw;
		}
		
	}
	else if(jsonEvent.stream == "btcusdc@trade") {
		var jsonDataUsdt = jsonEvent.data;
		var btcPriceUsdtRaw = Math.round(jsonDataUsdt.p);
		var btcPriceUsdt = " $ " + Math.round(jsonDataUsdt.p);
		if(lastPriceUsdt > btcPriceUsdtRaw) {
			btcPriceElementUsdt.innerText = btcPriceUsdt;
			btcPriceElementUsdt.style.color = "red";
			lastPriceUsdt = btcPriceUsdtRaw;
		}
		else if(btcPriceUsdtRaw > lastPriceUsdt) {
			btcPriceElementUsdt.innerText = btcPriceUsdt;
			btcPriceElementUsdt.style.color = "green";
			lastPriceUsdt = btcPriceUsdtRaw;
		}
		else {
			btcPriceElementUsdt.innerText = btcPriceUsdt;
			btcPriceElementUsdt.style.color = "black";
			lastPriceUsdt = btcPriceUsdtRaw;
		}
	}
});
// these lines below are for sending data to server via websocket
// it gives error since binance websockets does not accept incoming data
// socket.addEventListener('open', function (event) {
//     socket.send('Hello Server!');
// });
// these lines below are using npm package called ws. They are not made to
// run on client side javascript but they run normally in nodejs (backend javascript)
// ws.on('message', function message(data) {
// 	var jsonData = JSON.parse(data);
// 	var btcPrice = jsonData.p;
// console.log('received: %s', btcPrice);
// });
// I wanted to run ws in backend and send data from backe. to fronte.
// I could not send websockets data to ejs file 
// since I can't use document.getElementById in ejs file.
// I am sure there is another way to do it but I couldn't find since then
</script>
<iframe width="125" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/322727719&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/soulker" title="Soulker" target="_blank" style="color: #cccccc; text-decoration: none;">Soulker</a> · <a href="https://soundcloud.com/soulker/24h-prod-soulker" title="24 小時 [Prod. Soulker]" target="_blank" style="color: #cccccc; text-decoration: none;">24 小時 [Prod. Soulker]</a></div>
<%- include("partials/footer.ejs") %>